<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <title>Tik - Zeitverwaltung</title>
</head>
<body>
<div th:if="${session.user.isAdmin()}">
    <span th:text="${session.user.getFirstName()} + ' ist ein Admin'" th:unless="${session.user == null}"></span>
</div>
<div th:unless="${session.user.isAdmin()}">
    <span th:text="${session.user.getFirstName()} + ' ist kein Admin'" th:unless="${session.user == null}"></span>
</div>
</body>
</html>